@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
}

body {
  background-color: #faf0d7;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  row-gap: 5rem;
  height: 80vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
